// padding

.pad-all-10 {
  padding: 10px;
}

.pad-all-20 {
  padding: 20px;
}

.pad-all-40 {
  padding: 40px;
}

.pad-y-10 {
  padding: 10px 0;
}

.pad-y-20 {
  padding: 20px 0;
}

.pad-y-40 {
  padding: 40px 0;
}


// margin

.margin-x-10 {
  margin: 0 10px;
}

.margin-x-20 {
  margin: 0 20px;
}

.margin-x-40 {
  margin: 0 40px;
}

.margin-b-10 {
  margin: 0 0 10px 0;
}

.margin-b-20 {
  margin: 0 0 20px 0;
}

.margin-b-40 {
  margin: 0 0 40px 0;
}


// border

border-none {
  border: none;
}